*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	color: #fff;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}

.container {
	max-width: 1167px;
	padding: 0 10px;
	margin: 0 auto;
}

.title {
	font-weight: 700;
	font-size: 51px;
	font-family: "Montserrat", sans-serif;
	line-height: 62px;
	margin-bottom: 23px;
	text-transform: uppercase;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3 {
	margin: 0;
}

.header {
	background-color: #000;
}

.header__top {
	display: flex;
	align-items: center;
	gap: 0 108px;
	margin-bottom: 62px;
	font-weight: 500;
	font-size: 14px;
	font-family: "Noto Sans", sans-serif;
}

.header__login {
	display: flex;
	align-items: center;
	gap: 0 12px;
}

.header__login span {
	position: relative;
}

.header__login span::after {
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	background-color: #fff;
	bottom: 0;
	left: 0;
	transition: 1s all;

}

.header__login span:hover::after {
	width: 100%;
}


.header__content {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.header__title {
	max-width: 643px;
	line-height: 70px;
	font-size: 64px;
	padding-top: 81px;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 130px;
}

.header__descr {
	position: relative;
	max-width: 380px;
	font-weight: 400;
	font-size: 20px;
	font-weight: 400;
	font-size: 20px;
	font-family: "Noto Sans", sans-serif;
	margin-left: 105px;
	z-index: 1;
}

.header__descr::before {
	content: '';
	position: absolute;
	width: 125px;
	height: 125px;
	transform: translate(-100%, -50%);
	top: 0;
	background-color: #605CEA;
	filter: blur(80px);
	z-index: -1;
	border-radius: 50%;
}

.header__descr::after {
	content: '';
	position: absolute;
	width: 140px;
	height: 4px;
	background-color: #fff;
	left: 0;
	top: 10px;
	transform: translate(-100%) rotate(-60deg);
}

.header__bottom {
	margin-bottom: 15px;
}

.header__subtitle {
	font-weight: 700;
	font-size: 35px;
	font-family: "Montserrat", sans-serif;
}


.header__img-container {
	position: relative;
	z-index: 5;
}


.header__img-container::after {
	content: '';
	position: absolute;
	width: 662px;
	height: 783px;
	filter: blur(250px);
	background: rgba(250, 0, 255, 0.2);
	top: 0;
	padding: 0;
	transform: translate(-74%, -60%);
	z-index: -1;
}


.header__bottom {
	display: flex;
	justify-content: space-between;
}

.social {
	display: flex;
	gap: 0 28px;
}

.cookie {
	background-color: #212834;
}

.cookie__inner {
	display: flex;
	justify-content: space-between;
	height: 93px;
	align-items: center;
}

.cookie__btn {
	display: flex;
	width: 132px;
	min-height: 50px;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #fff;
	transform: translateX(100%);
	cursor: pointer;
}

.mission {
	position: relative;
	background-color: #000000;
	padding: 61px 0 470px;
}

.mission__list {
	display: flex;
	gap: 0 80px;
}

.mission__item {
	width: 503px;
	height: 312px;
	border: 2px solid #fff;
	border-radius: 21px;
	padding: 64px 73px 62px 55px;
	margin-bottom: 235px;
}

.mission__text {
	font-weight: 700;
	line-height: 41px;
	font-size: 30px;
	margin-bottom: 30px;
}

.mission__link {
	font-size: 24px;
	text-decoration: underline;
}

.mission__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.mission__inner {
	max-width: 358px;
}

.mission::before {
	content: '';
	position: absolute;
	width: 750px;
	height: 506px;
	left: 0;
	bottom: 283px;
	background-image: url(../images/mission-1.png);
}

.mission__title {
	margin-bottom: 28px;
	max-width: 358px;
	position: relative;
	z-index: 1;
}

.mission__title::before {
	content: '';
	position: absolute;
	width: 85px;
	height: 85px;
	right: 40px;
	top: 0;
	filter: blur(60px);
	background: rgb(241, 1, 191);
	opacity: 0.7;
	z-index: -1;

}

.mission__descr {
	font-size: 18px;
	max-width: 315px;
}

.scanner {
	min-height: 1060px;
	background: url(../images/scanner-bg.jpg) center / cover no-repeat;
}



.scanner__wrapper {
	min-height: 1060px;
	position: relative;
}

.scanner__wrapper::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -70px;
	width: 332px;
	height: 667px;
	background-image: url(../images/scanner-1.png);
}

.scanner__wrapper::after {
	content: '';
	position: absolute;
	transform: translateX(100%);
	left: 50px;
	bottom: -70px;
	width: 332px;
	height: 667px;
	background-image: url(../images/scanner-2.png);
}

.scanner__inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 316px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.scanner__title {
	margin-bottom: 23px;
}

.section__tool {
	padding: 275px 0 234px;
	background-color: #000;
}

.tool__inner {
	display: flex;
	gap: 0 27px;
	align-items: center;
}

.tool__title {
	position: relative;
	z-index: 1;
}

.tool__title::before {
	content: '';
	position: absolute;
	width: 426px;
	height: 438px;
	transform: translateX(-50%) rotate(60deg);
	top: -50px;
	filter: blur(250px);
	background: linear-gradient(41.19deg, rgb(241, 1, 191) 4.65%, rgb(0, 102, 255) 95.412%);
	opacity: 0.4;
	z-index: -1;
}

.tool__descr {
	max-width: 395px;
}

.tool__img-container {
	position: relative;
}

.tool__img-container::after {
	content: '';
	position: absolute;
	width: 281px;
	height: 56px;
	bottom: 0;
	right: -25px;
	transform: translateX(25%);
	background-image: url(../images/tool-2.png);
}


.qrcode {
	min-height: 1455px;
	background: url(../images/qrcode-bg.jpg) center / cover no-repeat;
	position: relative;
}

.qrcode::before {
	content: '';
	position: absolute;
	width: 332px;
	;
	height: 667px;
	background-image: url(../images/qrcode-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	left: 50%;
	bottom: 223px;
}

.qrcode::after {
	content: '';
	position: absolute;
	width: 332px;
	height: 667px;
	background-image: url(../images/qrcode-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	left: 50%;
	transform: translate(calc(100% + 80px), 50%);
	bottom: 223px;
	z-index: 5;
}

.qrcode__inner {
	position: absolute;
	bottom: 193px;
}

.qrcode__descr {
	font-size: 18px;
	max-width: 315px;
	margin-bottom: 58px;
}

.qrcode__list {
	display: flex;
	gap: 0 27px;
}

.generate {
	background: #000;
	min-height: 1030px;
	padding: 143px 0 143px;
	position: relative;
	overflow: hidden;
}

.generate__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.generate::after {
	content: '';
	position: absolute;
	width: 717px;
	z-index: 5;
	height: 165px;
	background-image: url(../images/generate-2.svg);
	background-repeat: no-repeat;
	background-size: cover;
	top: 179px;
	left: -63px;

}

.generate::before {
	content: '';
	position: absolute;
	width: 717px;
	height: 165px;
	z-index: 5;
	background-image: url(../images/generate-2.svg);
	background-repeat: no-repeat;
	background-size: cover;
	top: 179px;
	right: -73px;

}

.generate__inner::before {
	content: '';
	position: absolute;
	background: linear-gradient(rgb(241, 1, 191), rgb(0, 102, 255));
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 476.03px;
	filter: blur(500px);
}

.generate__inner::after {
	content: '';
	position: absolute;
	width: 717px;
	height: 165px;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	bottom: 0;
	z-index: 5;
	transform: translateX(166px);
	background-image: url(../images/generate-2.svg);
	background-repeat: no-repeat;
	background-size: cover;
	top: 179px;
	right: -73px;

}

.generate__inner::after {
	content: '';
	position: absolute;
	width: 717px;
	height: 165px;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	transform: translate(52.5%, 50%);
	right: -242px;
}

.generate__img-container {
	position: relative;
}


.generate__img-container::before {
	content: '';
	position: absolute;
	width: 717px;
	height: 165px;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 5;
	background-image: url(../images/generate-2.svg);
	background-repeat: no-repeat;
	background-size: cover;
	top: 179px;
	right: 0;
	transform: translate(-88%, 50%);
}


.generated__title {
	position: absolute;
	bottom: 0;
	left: 100px;
	max-width: 430px;
	margin-bottom: 0;
}

.generated__descr {
	font-size: 18px;
	max-width: 292px;
	position: absolute;
	right: 100px;
	bottom: 0;
}

.guest {
	padding: 192px 0 0;
	background-color: #000;
	position: relative;
}

.guest__title {
	max-width: 520px;
	position: absolute;
	right: 160px
}

.guest__descr {
	max-width: 520px;
	position: absolute;
	right: 392px;
	top: 326px;
}

.guest__inner {
	display: flex;
	justify-content: center;
	align-items: center;
}


.phone {
	min-height: 1000px;
	background: url(../images/phone-bg.jpg) center/cover no-repeat;
}
.phone__inner{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1000px; 
}

.footer {
	padding: 78px 0 85px;	
	background-color: #000;
	text-align: center;
}

.footer__title{
	
}

.footer__descr{
max-height: 580px;
margin-bottom: 82px;
}

.footer__form{
	display: flex;
	justify-content: center;
}

.form__inner{
	display: grid;
	grid-template-columns: 818px;
	grid-template-rows: repeat(6, 83px);
}
